<h1 align="center">Listing All Categories</h1>

<div align="center">

<% @groups.each do |group| %>

<ul class="listing">

<div class="row">

<div class="well col-md-4 col-md-offset-4">

<li class="expense-title">

<%= link_to "#{group.name}", group_path(group) %>

</li>
<li><small><%= pluralize(group.expenses.count, "expense") %></small></li>

</div>

</div>

</ul>

<% end %>

</div>