<% provide(:title, 'Home page') %>
    <div class="row mx-auto">
        <aside class="col-md-6 col-md-offset-3 m_t-15 mx-auto">
            <h1 class="text_color name">Group-It</h1>
  
            <%= link_to "log in", login_path, class: "btn_login btn main_color" %>
            <%= link_to "sign up", signup_path, class: "btn_signup btn text_color" %>
        </aside>
    </div>
