<div class="d-flex align-items-center flex-column mb-3 h-100">
  <div class="mb-auto pt-5 display-3">GroupIt</div>
  <div class="p-2 display-2 btn btn-lg button w-50">
     <%= link_to 'LOG IN', login_path, class: 'btn btn-primary btn-lg' %>
  </div>
  <div class="pb-5 display-2 btn btn-lg">SIGN UP</div>
</div>