<div class="d-flex align-items-center flex-column bd-highlight mb-3" style="height: 200px;">
  <div class="mb-auto p-2">GroupIt</div>
  <div class="p-2">LOG IN</div>
  <div class="p-2">SIGN UP</div>
</div>